<div class="container">
  <app-header></app-header>
  <div class="section">
    <div class="row">
      <div class="col-lg-12 col-md-12 article">
        <div class="shopcontainer row">
          <div *ngIf="loading">
            <app-loading></app-loading>
          </div>
          <div *ngIf="currentError.message">
            <app-message [variant]="'alert-danger mt-5'">{{
              currentError.message
            }}</app-message>
          </div>
          <div
            class="shop col-lg-4 col-md-6 col-sm-6"
            *ngFor="let item of products; trackBy: trackByFn"
          >
            <app-product-list [product]="item"></app-product-list>
          </div>
          <app-pagination
            [keyword]="keyword"
            [page]="page"
            [pages]="pages"
          ></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
