<div class="contactInfo container">
  <div class="row">
    <div class="col-12 col-md-4 contact-Box">
      <div class="box-info">
        <div class="info-image">
          <i class="fas fa-phone-alt"></i>
        </div>
        <h5>Call Us 24x7</h5>
        <p>0736 230 063</p>
      </div>
    </div>
    <div class="col-12 col-md-4 contact-Box">
      <div class="box-info">
        <div class="info-image">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <h5>Headquarter</h5>
        <p>Cilame, Bandung Barat</p>
      </div>
    </div>
    <div class="col-12 col-md-4 contact-Box">
      <div class="box-info">
        <div class="info-image"><i class="fas fa-fax"></i>I</div>
        <h5>Fax</h5>
        <p>0736 230 063</p>
      </div>
    </div>
  </div>
</div>
