<div class="Announcement">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center display-none">
        <p>+225 768 356 890</p>
        <p>info@shoeshop.com</p>
      </div>
      <div
        class="col-12 col-lg-6 justify-content-center justify-content-lg-end d-flex align-items-center"
      >
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
        <a href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="">
          <i class="fab fa-pinterest-p"></i>
        </a>
      </div>
    </div>
  </div>
</div>
