<div
  class="container d-flex flex-column justify-content-center align-items-center login-center"
>
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="currentError.message">
    <app-message [variant]="'alert-danger mt-5'">{{
      currentError.message
    }}</app-message>
  </div>
  <form class="Login col-md-8 col-1g-4 col-11" (submit)="submitHandler()">
    <input type="email" placeholder="Email" [(ngModel)]="email" name="email" />
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
    />
    <button type="submit">Login</button>

    <p>
      <a
        [routerLink]="['/auth', 'register']"
        [queryParams]="redirectUrl"
        routerLinkActive="router-link-active"
      >
        Create Account
      </a>
    </p>
  </form>
</div>
