<app-header [hideSearch]="true"></app-header>
<div class="container single-product">
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="currentError.message">
    <app-message [variant]="'alert-danger mt-5'">{{
      currentError.message
    }}</app-message>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="single-image">
        <img src="{{ product?.imageUrl }}" alt="{{ product?.imageUrl }}" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-dt1">
        <app-product-info [product]="product"></app-product-info>
      </div>
    </div>
  </div>
  <app-review [product]="product"></app-review>
</div>
