<div class="rating">
  <i
    [ngClass]="
      value > 1
        ? 'fas fa-star'
        : value > 0.5
        ? 'fas fa-star-half-alt'
        : 'far fa-star'
    "
  ></i>
  <i
    [ngClass]="
      value > 2
        ? 'fas fa-star'
        : value > 1.5
        ? 'fas fa-star-half-alt'
        : 'far fa-star'
    "
  ></i>
  <i
    [ngClass]="
      value > 3
        ? 'fas fa-star'
        : value > 2.5
        ? 'fas fa-star-half-alt'
        : 'far fa-star'
    "
  ></i>
  <i
    [ngClass]="
      value > 4
        ? 'fas fa-star'
        : value > 3.5
        ? 'fas fa-star-half-alt'
        : 'far fa-star'
    "
  ></i>
  <i
    [ngClass]="
      value > 5
        ? 'fas fa-star'
        : value > 4.5
        ? 'fas fa-star-half-alt'
        : 'far fa-star'
    "
  ></i>
  <span *ngIf="text !== null">{{ text }} Reviews</span>
</div>
