<div>
  <div class="header">
    <div class="container">
      <div class="mobile-header">
        <div class="container">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <a class="navbar-brand" href="/">
                <img alt="logo" src="/assets/images/logo.png" />
              </a>
            </div>
            <div
              *ngIf="!hideSettings"
              class="col-6 d-flex align-items-center justify-content-end Login-Register"
            >
              <div *ngIf="currentUser; else notauth" class="btn-group">
                <button
                  type="button"
                  className="name-button dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i className="fas fa-user"></i>
                </button>
                <div className="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="['/profile']"
                    >Profile</a
                  >
                  <a
                    class="dropdown-item"
                    [routerLink]="['/#']"
                    (click)="logoutHandler()"
                    >Logout</a
                  >
                </div>
              </div>
              <ng-template #notauth>
                <button
                  type="button"
                  class="name-button dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="['/auth', 'login']"
                    >Login</a
                  >
                  <a class="dropdown-item" [routerLink]="['/auth', 'register']"
                    >Register</a
                  >
                </div>
              </ng-template>
              <a class="cart-mobile-icon" [routerLink]="['/cart']"
                ><i class="fas fa-shopping-bag"></i>
                <span class="badge">{{
                  cartsCount > 0 ? cartsCount : ""
                }}</span></a
              >
            </div>
            <div
              *ngIf="!hideSearch; else emptysearch"
              class="col-12 d-flex align-items-center"
            >
              <form class="input-group">
                <input
                  type="search"
                  class="form-control rounded search"
                  placeholder="search"
                />
                <button type="submit" class="search-button">search</button>
              </form>
            </div>
            <ng-template #emptysearch
              ><div class="col-md-6 col-8 d-flex align-items-center"></div
            ></ng-template>
          </div>
        </div>
      </div>
      <div class="pc-header">
        <div class="row">
          <div class="col-md-3 col-4 d-flex align-items-center">
            <a class="navbar-brand" href="/">
              <img alt="logo" src="/assets/images/logo.png" />
            </a>
          </div>
          <div
            *ngIf="!hideSearch; else emptysearch"
            class="col-md-6 col-8 d-flex align-items-center"
          >
            <form class="input-group">
              <input
                type="search"
                class="form-control rounded search"
                placeholder="search"
              />
              <button type="submit" class="search-button">search</button>
            </form>
          </div>
          <ng-template #emptysearch
            ><div class="col-md-6 col-8 d-flex align-items-center"></div
          ></ng-template>

          <div
            *ngIf="!hideSettings"
            class="col-md-3 d-flex align-items-center justify-content-end Login-Register"
          >
            <div *ngIf="currentUser; else notauthpc" class="btn-group">
              <button
                type="button"
                className="name-button dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Hi, {{ currentUser.name }}
              </button>
              <div className="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
                <a
                  class="dropdown-item"
                  [routerLink]="['/#']"
                  (click)="logoutHandler()"
                  >Logout</a
                >
              </div>
            </div>
            <ng-template #notauthpc>
              <a [routerLink]="['/auth', 'login']">Login</a>
              <a [routerLink]="['/auth', 'register']">Register</a>
            </ng-template>
            <a class="cart-mobile-icon" [routerLink]="['/cart']"
              ><i class="fas fa-shopping-bag"></i>
              <span class="badge">{{
                cartsCount > 0 ? cartsCount : ""
              }}</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
