<div>
  <div class="Announcement">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center display-none">
          <p>+225 768 356 890</p>
          <p>info@shoeshop.com</p>
        </div>
        <div
          class="col-12 col-lg-6 justify-content-center justify-content-lg-end d-flex align-items-center"
        >
          <a href="/">
            <i class="fas fa-home"></i>
          </a>
          <a href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="container">
      <div class="mobile-header">
        <div class="container">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <a class="navbar-brand" href="/">
                <img alt="logo" src="/assets/images/logo.png" />
              </a>
            </div>
            <div
              class="col-6 d-flex align-items-center justify-content-end Login-Register"
            >
              <div class="btn-group">
                <button
                  type="button"
                  class="name-button dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="['/login']">Login</a>
                  <a class="dropdown-item" [routerLink]="['/register']"
                    >Register</a
                  >
                </div>
                <a class="cart-mobile-icon" [routerLink]="['/cart']"
                  ><i class="fas fa-shopping-bag"></i>
                  <span class="badge">3</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
